.rst-content dl dd {
    text-align: justify !important;
}

body > div > div > div.content {
    text-align: justify !important;
}

#overview .toctree-wrapper.compound {
    display: none;
}

#authors .toctree-wrapper.compound {
    display: none;
}

#installation .toctree-wrapper.compound {
    display: none;
}

#tutorial .toctree-wrapper.compound {
    display: none;
}

#module-documentation .toctree-wrapper.compound {
    display: none;
}

#tutorial > div.admonition.caution {
    text-align: left;
}